.curation-sec .group-block-content a {
    font-weight: 500; color:#5A3884;
} 
.curation-sec .group-block-content a:after {
    content: "";
    width: 16px;
    height: 16px;
    background: url('https://cdn.shopify.com/s/files/1/0779/0303/6594/files/blue-arrow.png?v=1784878735');
    background-size: 9px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: -4px;
 transform: translateX(0);
  transition: transform 0.2s ease;
}
.curation-sec .group-block-content a:hover:after {
    transform: translateX(5px);
}
.curation-head-text {
    max-width: 600px;
}

@media only screen and (max-width:767px){
.curation-sec .group-block:nth-child(2) .group-block-content .group-block:nth-child(2),
.curation-sec .group-block:nth-child(4) .group-block-content .group-block:nth-child(2),
.curation-sec .group-block:nth-child(6) .group-block-content .group-block:nth-child(2) {
    order: -1;
}
}