.contact-form__submit-wrapper .button::before {
    content: "";
    height: 20px;
    width: 20px;
    background: url('/cdn/shop/files/button-arrow.svg?v=1784807523');
    background-size: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
}